:root{
    --bg: #ffffff;
    --light-text: #ffffff;
    --text-decorate: #89004f;
    --decorate: #cfcfcf;
    --text-night: #131313;
    --atencion: #ff69b4;
    --llamada: #c33b80;
    --card: #ffe0ff;
}
*{
  box-sizing: content-box;
}
.card{
  padding: 5rem 0;
  background-color: var(--card);
  border: none;
  transition: 0.4s;
}
.card:hover{
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.75);
  transition: 0.4s;
}
.card-text{
    min-height: 5rem;
}
.btn{
  background-color: var(--atencion);
  border: none;
  transition: 0.4s;
}
.btn:hover{
  background-color: var(--text-decorate);
  transition: 0.4s;
}